<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>
        {% block head_title %}
        {{ judul }}
        {% endblock head_title %}
    </title>
</head>
<body>

  {% include 'snippets/navbar.html' %}


<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
  <div class="bg-white shadow rounded-2xl p-6">
    {% block title %}
    <h2>{{judul}}</h2>
    {% endblock title %}
    
    {% block content %}
    
    {% endblock content %}
  </div>
</div>




</body>
</html>