<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bloggg</title>
</head>
<body>
    <!-- <h1>ini blogg sendirian templates nya</h1>
    <h1>urutan ke 10</h1>
    <ul>
        <li><a href="/">home</a></li>
    </ul> -->





    <!-- <h1>urutan ke 11</h1>
    <h1>{{ judul }}</h1>
    <h3>creator {{ dev }}</h3>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/blog">blogg</a></li>
        <ul>
            <li><a href="/blog/artikel">artikel</a></li>
            <li><a href="/blog/berita">berita</a></li>
        </ul>
    </ul> -->





</body>
</html>