{% extends 'base.html' %}
{% block title %}Daftar Akun{% endblock %} 


{%block content %}
<div class="max-w-md mx-auto bg-white p-8 rounded shadow-md">
  <h2 class="text-2xl font-bold mb-6 text-center">Buat Akun</h2>

  <form method="POST" class="space-y-5">
    {% csrf_token %}
    <!-- Username -->
    <div>
      <label for="id_username" class="block text-sm font-medium text-gray-700"
        >Username</label
      >
      <input
        type="text"
        name="username"
        id="id_username"
        class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200"
        placeholder="masukkan username"
        required
      />
    </div>

    <!-- Password -->
    <div>
      <label for="id_password1" class="block text-sm font-medium text-gray-700"
        >Password</label
      >
      <input
        type="password"
        name="password1"
        id="id_password1"
        class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200"
        placeholder="buat password"
        required
      />
    </div>

    <!-- Konfirmasi Password -->
    <div>
      <label for="id_password2" class="block text-sm font-medium text-gray-700"
        >Konfirmasi Password</label
      >
      <input
        type="password"
        name="password2"
        id="id_password2"
        class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200"
        placeholder="ulang password"
        required
      />
    </div>

    <!-- Submit -->
    <button
      type="submit"
      class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition"
    >Register
    </button>
  </form>

  <p class="text-center mt-4 text-sm text-gray-600">
    Sudah punya akun?
    <a href="{% url 'login' %}" class="text-blue-500 hover:underline"
      >Login di sini</a
    >
  </p>
</div>
{% endblock %}
