{% extends 'base.html' %}

{% block content %}
    {% if user.username == 'admin' %}
        <a href="{{ url_for('tambah') }}">➕ Tambah Anggota</a>
    {% endif %}
    <table>
        <tr>
            <th>ID</th>
            <th>Nama</th>
            <th>Gender</th>
            <th>Ruangan</th>
            <th>Fitur</th>
            {% if user.username == 'admin' %}
                <th>Aksi</th>
            {% endif %}
        </tr>
        {% for anggota in anggota_list %}
        <tr>
            <td>{{ anggota.id }}</td>
            <td>{{ anggota.nama }}</td>
            <td>{{ anggota.gender }}</td>
            <td>{{ anggota.ruangan }}</td>
            <td>{{ anggota.fitur }}</td>
            {% if user.username == 'admin' %}
            <td>
                <a href="{{ url_for('edit', id=anggota.id) }}">✏️ Edit</a> | 
                <a href="{{ url_for('hapus', id=anggota.id) }}" onclick="return confirm('Yakin ingin menghapus?')">🗑 Hapus</a>
            </td>
            {% endif %}
        </tr>
        {% else %}
        <tr>
            <td colspan="6"><em>Belum ada anggota</em></td>
        </tr>
        {% endfor %}
    </table>
    {% if user.is_authenticated %}
        <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
    <br>================================<br>
    {% if user.is_authenticated %}
        Logged in as {{ user.username }}
    {% endif %}
{% endblock %}
